@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');
body{
    background-color: #CFCFCF;
    /* background-image: linear-gradient(to right, white, #CFCFCF); */
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}