@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');
@font-face {
    font-family: 'adhelia';
    src: url('Arquivos/fonts/adhelia/adhelia.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    /* tipos de format()
    -opentype(otf)
    -truetype(ttf)
    -embedded-opentype
    -truetype-aat(Apple Advanced Typography)
    svg */
}
body{
    background-color: #CFCFCF;
    /* background-image: linear-gradient(to right, white, #CFCFCF); */
    font-family: 'Roboto', sans-serif;
    font-size: 17px;

}
.fonte-externa{
    font-family: 'adhelia';
    font-weight: normal;
}
/* text-indent:30px indenta */
div.quadrado{
    display: inline-block;
    border:2px solid black;
    border-radius: 10px;
    background-color: rgb(245, 177, 236);
    width: 300px;
    height: 300px;
}
div#q1{

}
div#q2{
  background-image: linear-gradient(to bottom, yellow, orange);  

}
div#q3{
    background-image: url('Imagens/imagens-cap19/pattern003.png');
}